<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>QA</title>
</head>

<body>

    <div class="box">
        <h2>SISTEMA QA - REGIMENTO DO MACC</h2>
        <form method="POST" action="/">
            <input type="text" name="question" placeholder="Faça uma pergunta" autocomplete="off">
            <br>
            <button type="submit">Enviar</button>
            <button id="btn-reset" type="reset">Limpar</button>

        </form>
        <div class="answer-content">
            {%if context%}
            <p>{{ context }}</p>
            {% endif %}
        </div>
    </div>


</body>

</html>